html {
  scroll-behavior: smooth;
}

body {
  background-color: #191922;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444444;
}
